.container {
    height: 300px;
    width: 300px;
    background-color: #b2b2b2;
    background-image: url("/assets/32.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.gradient {
    background-image: linear-gradient(to right bottom, #f6f1d3, #648880, #293f50);
}


ul {
    list-style-type: square;
}

/* The list style properties discussed thus far, list-style-type and list-style-position, can be combined into one shorthand list-style property value

ul {
    list-style: circle inside;
}

ol {
    list-style: lower-roman;
} */


/* When changing the display property value to inline or inline-block, the list item marker, be it a bullet, number, or other style, is removed. */
/* li {
    display: inline-block;
    margin: 0 10px;
} */

/* If the list item marker is needed, floating each <li> element is a better option than changing the display property. */
ul {
    list-style-type: disc;
}

/* an example how to style lists */
.navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
}

.navigation a:hover {
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.navigation li:first-child a {
    border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}

/* adding images as instead of list item markers */
li {
    background: url("arrow.png") 0 50% no-repeat;
    list-style-type: none;
    /* padding-left: 12px; */
}

iframe {
    width: 500px;
    height: 500px;
}

.primary-table {
    background-color: #fff;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}

thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
}

th:last-child {
    border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}

td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}

td:first-child {
    border-left: 1px solid #cecfd5;
}

.book-title {
    color: #395870;
    display: block;
}

.text-offset {
    color: #7c7c80;
    font-size: 12px;
}

.item-stock,
.item-qty {
    text-align: center;
}

.item-price {
    text-align: right;
}

.item-multiple {
    display: block;
}

tfoot {
    text-align: right;
}

tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
}

tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

/* div {
    background: -webkit-linear-gradient(#a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(#a1d3b0, #f6f1d3);
    background: linear-gradient(#a1d3b0, #f6f1d3);
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */


/* Z-INDEX Demonstration */

.box-set {
    background: #eaeaed;
    position: relative;
    padding: 20px;
    height: 160px;
}

.box {
    background: #2db34a;
    border: 2px solid #ff7b29;
    position: absolute;
    height: 80px;
    border-radius: 6px;
    width: 80px;
    line-height: 80px;
    text-align: center;
}

.box-1 {
    left: 10px;
    top: 10px;
}

.box-2 {
    bottom: 10px;
    left: 70px;
    z-index: 3;
}

.box-3 {
    left: 130px;
    top: 10px;
    z-index: 2;
}

.box-4 {
    bottom: 10px;
    left: 190px;
    z-index: 1;
}

/* .box-set::before, .box-set::after {
    content: '';
    display: table;
}

.box-set::before, .box-set::after {
    clear: both;
}
 */