* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 1em;
    line-height: 1.5rem;
    color: #414142;
    font-family: Arial;
    background-color: #ededed;
}

.container {
    display: flex;
}

.start,
.end {
    position: absolute;
    line-height: 1rem;
}

.start {
    left: 0;
    top: 0;
    padding: 0 3px 3px 0;
}

.end {
    right: 0;
    bottom: 0;
    padding: 3px 0 0 3px;
}

.element {
    border: solid #6ac5ac 3px;
    position: relative;
}

.red {
    border: solid #d64078 3px;
}

.yellow {
    border: solid #fdc72f 3px;
}

.green {
    border: solid #6ac5ac 3px;
}

.red>.start,
.red>.end {
    background-color: #d64078;
    color: white;
}

.yellow>.start,
.yellow>.end {
    background-color: #fdc72f;
}

.green>.start,
.green>.end {
    background-color: #6ac5ac;
}

a {
    text-decoration: none;
    color: #d64078;
}

a:hover {
    text-decoration: underline;
}

nav {
    width: 200px;
}

p {
    padding: 0 1rem;
}

h2 {
    text-align: center;
}

section p {
    margin: 1rem 0;
}

.sections {
    flex: 1;
}

.sec {
    position: relative;
    flex: 1;
}

.flex-container {
    height: 400px;
    width: 350px;

    background-color: silver;

    display: -webkit-flex;
    display: flex;
}

.flex-item {
    background-color: deepskyblue;
    width: 55px;
    min-height: 50px;
    margin: 5px;
}

/* flex-flow: [flex-direction] [flex-wrap] */

/* 
.item-3 {
    -webkit-order: -1;
    order: -1;
} */

/* .flex-item:first-child {
    margin-right: auto;
} */

/* .item-1 {
    margin: auto;
}
 */

.flex-start {
    align-self: flex-start;
}

.flex-end {
    align-self: flex-end;
}

.center {
    align-self: center;
}

.base {
    align-self: baseline;
}

.line {
    align-self: baseline;
    padding: 2em auto;
}

.stretch {
    align-self: stretch;
}

.flex-1 {
    flex: 2;
}

.flex-2 {
    flex: 1;
}

.flex-3 {
    flex: 1;
}

.grid {
    display: grid;
    padding: 2rem;
    grid-gap: 1rem;

    /* responsive layout in comparison to 1fr 1fr 1fr */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.cell {
    padding: 3rem;
    background-color: #bddab3;
}

.flex {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


/*
  ========================================
  Clearfix
  ========================================
*/

code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
}

header,
section,
footer {
    margin: 0 1.5% 24px 1.5%;
}

/* 
aside {
    width: 30%;
    float: right;
} */

/* .group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
} */

section {
    display: inline-block;
    width: 30%;
}

footer {
    margin-bottom: 0;
}