* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 1em;
    line-height: 1.5rem;
    color: #414142;
    font-family: Arial;
    background-color: #ededed;
}

.container {
    display: flex;
}

.start,
.end {
    position: absolute;
    line-height: 1rem;
}

.start {
    left: 0;
    top: 0;
    padding: 0 3px 3px 0;
}

.end {
    right: 0;
    bottom: 0;
    padding: 3px 0 0 3px;

}

.element {
    border: solid #6AC5AC 3px;
    position: relative;
}

.red {
    border: solid #D64078 3px;
}

.yellow {
    border: solid #FDC72F 3px;
}

.green {
    border: solid #6AC5AC 3px;
}

.red>.start,
.red>.end {
    background-color: #D64078;
    color: white;
}

.yellow>.start,
.yellow>.end {
    background-color: #FDC72F;
}

.green>.start,
.green>.end {
    background-color: #6AC5AC;
}

a {
    text-decoration: none;
    color: #D64078;
}

a:hover {
    text-decoration: underline;
}

nav {
    width: 200px;
}

p {
    padding: 0 1rem;
}

h2 {
    text-align: center;
}

section p {
    margin: 1rem 0;
}

.sections {
    flex: 1;
}




.flex-container {
    height: 400px;
    width: 350px;

    background-color: silver;

    display: -webkit-flex;
    display: flex;

}

.flex-item {
    background-color: deepskyblue;
    width: 55px;
    min-height: 50px;
    margin: 5px;
}

/* flex-flow: [flex-direction] [flex-wrap] */

/* 
.item-3 {
    -webkit-order: -1;
    order: -1;
} */

/* .flex-item:first-child {
    margin-right: auto;
} */

/* .item-1 {
    margin: auto;
}
 */

.flex-start {
    align-self: flex-start;
}

.flex-end {
    align-self: flex-end;
}

.center {
    align-self: center;
}

.base {
    align-self: baseline;
}

.line {
    align-self: baseline;
    padding: 2em auto;
}

.stretch {
    align-self: stretch;
}


.flex-1 {
    flex: 2;
}

.flex-2 {
    flex: 1;
}

.flex-3 {
    flex: 1;
}